.X4DQ0::after,
.GAyS9e,
.U0xwnf::after {
    display: none !important;
}

/* Primary */
body,
header,
.EO28P,
.ita-hwt-candidates,
.HWmS8,
.OPPzxe,
.QcsUad,
.ySES5,
.ccvoYb>div:first-child,
.AxqVh,
.OucA2b,
.bvzp8c.Tht3fc,
.fMHXgc,
.yFQBKb,
.WtlSJf.KKjvXb,
.WtlSJf:hover,
.ita-ppe-box,
.GR2kEe a:hover,
.ThbbSd,
.vSUSRc,
.ToWKne,
.kXN2zb.Q5Onnd,
.kXN2zb.dtohSe,
.kmXzdf,
.vk-btn,
.Bmcqed,
.ydsGXd,
.KjuTac,
.VfPpkd-xl07Ob .VfPpkd-StrnGf-rymPhb-ibnC6b,
.ita-kd-menuitem:hover,
.jCAhz:hover {
    background-color: #171923 !important;
}

/* Hilight */

.qSb8Pe.KKjvXb,
.qSb8Pe:hover,
.U8K5nb,
.gb_Pc.gb_Tc,
.ita-hwt-candidate-hover,
.QcsUad:hover,
.wneUed:only-of-type,
.n4sEPd,
.ita-hwt-buttons,
.ita-hwt-ime-init-opaque,
.Bcbxbe.FwR7Pc,
.jCAhz.C1N51c .NWlwsb,
.gb_Wc .gb_Rc,
.vk-box,
.ita-kd-dropdown-menu {
    background-color: #252a37 !important;
}

.vk-btn {
    background-image: none !important;
}

.QFw9Te textarea,
.ryNqvb,
.TcXXXb,
.LxQvde,
.hbjvwb,
.j33Gae,
.U8K5nb,
.jq25U,
.Llmcnf,
.ydsGXd,
.VfPpkd-Bz112c-LgbsSe,
.ZTPlmc,
.yFQBKb,
.TYVfy,
.gb_sd .gb_td,
.lrSgmd,
.ita-ppe-box,
.gb_Fa a,
.gb_Pc a,
.gb_Pc .gb_td,
.Jp7KKb,
.ita-hwt-candidate,
.VfPpkd-AznF2e:hover .VfPpkd-N5Lhkf .VfPpkd-jY41G-V67aGc,
.VfPpkd-I9GLp-yrriRe>label,
.pWIpbc,
.qt6jm,
.HswdMd,
.uNr6ee,
.ita-kd-menuitem-inputtool-name {
    color: #e7e8f2 !important;
}

.gb_Fa svg {
    fill: #e7e8f2 !important;
}

.gb_Fa a:hover {
    color: #ffffff;
}

.vk-t-btn.vk-sf-cl,
.vk-cap,
.ita-kd-menuitem-inputtool-icon,
.nidPne,
.nidPne>c-wiz,
.ita-kd-img,
.ita-hwt-button,
.ita-hwt-close {
    filter: invert(1)
}

.n4sEPd,
.sciAJc,
.U8K5nb,
.qSb8Pe.KKjvXb,
.qSb8Pe:hover,
.jCAhz.C1N51c .NWlwsb {
    border: 1px solid #565454 !important;
    border-radius: 8px !important;
}

.qSb8Pe {
    border-radius: 8px !important;
}

#gb,
.Ft4sJe.Ft4sJe,
.ySES5,
.fMHXgc,
.GR2kEe,
.jCAhz.C1N51c .NWlwsb {
    border-color: #565454 !important;
}